<header id = "header">
    <a href = "/" id = "header__logo">Admin Panel</a>

    <nav id = "header__nav">
        <ul>
            <li>
                <a href = "/" id = "">Home</a>
            </li>
            <li>
                <a href = "/about" id = "">About</a>
            </li>
            <li>
                <a href = "/contact" id = "">Contact</a>
            </li>
        </ul>
    </nav>

    <div id = "header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>