<div id = "searchBar">
    <div id = "container">
        <form action = "/search" id = "search__form" role = "search" method = "POST">
            <input
                type = "search"
                aria-label = "Search"
                id = "searchInput"
                name = "searchTerm"
                placeholder = "Search the site..."
            >
        </form>
        <div id="searchClose">close</div>
    </div>
</div>